importFrom("stats", "runif", "sd")
import("graphics")

export(train.gsom)
export(train_xy.gsom)
export(map.gsom)
export(predict.gsom)

useDynLib(GrowingSOM)

S3method(plot, gsom)
S3method(print, gsom)
S3method(summary, gsom)
S3method(predict, gsom)
